*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}



@mixin transformar($propiedad){
    -webkit-transform: $propiedad;
    -ms-transform: $propiedad;
    transform: $propiedad;
}


$colortext: #e2e6f3;

$Gradient:-webkit-linear-gradient(#ffffff,#b73dd5);



body{
    background-color:#19262e;
    
}
    /* -----  NAV BAR  ----*/



.logo{
    font-size: 20px;
    margin-left: 100px;
        background: -webkit-linear-gradient(#E5DAE8,#D21FFF);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding-left: 10px;
        line-height: 50px;
}
.logo:hover{
    @include transformar (scale(2, 0.5));
    transition: 2s;
}
.nav-item:hover{
    transition: 0,5s;
    border-radius: 5px;
    background-color: #283238;
}




/*----NAVBAR END----*/





            /* PAGINA PRINCIPAL */
            .introduccion{
                background-color: #303e47;
                border-radius: 35px;
            }
            .span-intro{
                background: $Gradient;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-size: 40px;
                padding: 10px;
                
            }

            .portfolio{
                background: $Gradient;
                background-clip: text;
                -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    margin-bottom: 50px;
                    
            }
            
        
            .portfolio-text{
                font-size: 45px;
                
            }

            .card{
                margin-left: 20px;
                margin-right: 20px;
                background: $Gradient;
                color: #E5DAE8;
                
            }
            /*INICIO FOOTER*/
            
            /*FIN FOOTER*/

            /* FIN PAGINA PRINCIPAL */




            /* PAGINA CONTACTO */



.contact-form{
    
    height: 500px;
    margin-top: 20px;
    padding: 20px;
    background-color:#283238;
    border: 3px  solid #E5DAE8;
}
.form-title{
    background:$Gradient;
    background-clip: text;
    -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}
.form-contact{
    width: 50%;

    margin-left: 20px;

    
}

.form-text{
    background: $Gradient;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 20px;
        margin-bottom: 30px;
}
.text-area{
    margin-top: 20px;
    
}
textarea{
    resize: none;
}
.button-send{
    width: 50%;
    color: #b73dd5;
    margin-top: 30px;
}

.maps{
    margin-left: 30px;
    margin-top: 20px;
    
    
}



            /* FIN PAGINA CONTACTO */

            /* PAGINA SOBRE MI */
            
                h3 span{
                    color: $colortext;
                    font-size: 3rem;
                    margin-top: 30px;
                }
                
                span{
                    a{
                        text-decoration: none;
                        
                    }
                }
            span a:hover{
                background:$Gradient;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            section{
                .code{
                    margin-top: 30px};
                }
                .code-presentacion{
                    
                    border: 3px solid #E5DAE8;
                    border-radius: 10px;
                    
                }
            
            img:active{
                width: 500px;
            }
