
¨*{
    <<<<<< bb921bd
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;




main{
    background-color:#19262e;
}
    /* -----  NAV BAR  ----*/



.header .navbar .logo{
    font-size: 20px;
    
        background: -webkit-linear-gradient(#E5DAE8,#D21FFF);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding-left: 10px;
        line-height: 50px;
}




/*----NAVBAR END----*/



.span-intro{
    background: -webkit-linear-gradient(#ffffff,#b73dd5);
    background-clip: text;
    -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 40px;
        
}<<<<<<< bb921bd
.form-title{
    background: -webkit-linear-gradient(#ffffff,#b73dd5);
    background-clip: text;
    -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}
.form-contact{
    width: 50%;

    margin-left: 20px;
    
}
.form-text{
    color: #ffffff;
    font-size: 20px;
}
.portfolio-text{
    background: -webkit-linear-gradient(#ffffff,#b73dd5);
    background-clip: text;
    -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 50px;
}




