
¨*{
    
    margin: 0;
    
}


body{
    background-color:#19262e;
    font-family: sans-serif;
}
    /* -----  NAV BAR  ----*/



.header .navbar .logo{
    font-size: 20px;
    
        background: -webkit-linear-gradient(#E5DAE8,#D21FFF);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding-left: 10px;
        line-height: 50px;
}

.nav-item:hover{
    transition: 0,5s;
    
    background-color: #283238;
}




/*----NAVBAR END----*/



.span-intro{
    background: -webkit-linear-gradient(#ffffff,#b73dd5);
    background-clip: text;
    -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 40px;
        
}

            /* PAGINA PRINCIPAL */

            .portfolio{
                background: -webkit-linear-gradient(#ffffff,#b73dd5);
                background-clip: text;
                -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    margin-bottom: 50px;
            }
        
            .portfolio-text{
                font-size: 45px;
                
            }

            .card{
                margin-left: 20px;
                margin-right: 20px;
                background: -webkit-linear-gradient(#99869e,#571069);
                color: #E5DAE8;
            }
            
            /* FIN PAGINA PRINCIPAL */




            /* PAGINA CONTACTO */



.contact-form{
    width: 40%;
    height: 500px;
    margin-top: 20px;
    margin-left: 30px;
    padding: 20px;
    background-color:#283238;
    border: 3px  solid #E5DAE8;
    
}

.form-text{
    background: -webkit-linear-gradient(#E5DAE8,#D21FFF);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 20px;
        margin-bottom: 30px;
}
.text-area{
    margin-top: 20px;
    
}
textarea{
    resize: none;
}
.button-send{
    width: 50%;
    color: #b73dd5;
    margin-top: 30px;
}

.maps{
    margin-left: 30px;
    margin-top: 20px;
    padding: 0;
}



            /* FIN PAGINA CONTACTO */







